.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    --background-blue: rgb(112, 227, 235);
}

#background {
    background-color: var(--background-blue);
}